.RandomSphereViewer {
  background-color: #FFFFFF;
  width: 500px;
	height: 500px;
	min-width: 500px;
	min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
	border-radius: 10px;
	border-width: 2px;
	border-color: grey;
	border-style: solid;
	margin: 10px auto;
}